<div class="x_panel">
  <div class="x_title">
    <h2>Users</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="btn btn-primary" href="#/user/add"><i class="fa fa-plus"></i></a></li>
      <li>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Filter
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a ng-click="vm.filter('ALL')">All</a></li>
            <li><a ng-click="vm.filter('PATIENT')">Patient</a></li>
          </ul>
        </div>
      </li>
<!--       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Settings 1</a>
          </li>
          <li><a href="#">Settings 2</a>
          </li>
        </ul>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li> -->
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.Users">
          <th scope="row">{{user.id}}</th>
          <td>{{user.Profile.first_name}}</td>
          <td>{{user.Profile.last_name}}</td>
          <td>{{user.Profile.address}}</td>
          <td><a href="#/user/{{user.id}}" class="btn btn-primary"><i class="fa fa-edit"></i></a></td>
        </tr>      
      </tbody>
    </table>

  </div>
</div>