<div class="modal-body">
	<div class="row">
		<div class="col-md-5">
			<img src="/images/health-center.jpg" style="max-width:100%">
		</div>
		<div class="col-md-7">
			<h3>Poblacion Health Center</h3>
			<p> A. Mabini St, Makati, 1210 Metro Manila, Philippines</p>
		</div>
	</div>
	<br/>

	<div class="row">
		<h4>Services Offered</h4>
		<div class="col-md-12">
			<span class="label label-success">STOOL EXAM</span>
			<span class="label label-success">PREGNANCY TEST</span>
			<span class="label label-success">DIFFERENTIAL BLOOD CELL COUNTER OR ITS EQUIVALENT</span>
		</div>
	</div>
	<div class="row">
		<h4>Equipments</h4>
		<div class="col-md-12">
			<span class="label label-success">PEDIATRIC BLADES</span>
			<span class="label label-success">INCUBATOR</span>
		</div>
	</div>	
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">Close</button>
</div>    
