<div class="modal-header">
    <h4 class="modal-title">Hospital Info</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-7">
			<h3>A. Zarate General Hospital</h3>
			<p>Atlas Compound, Naca Road, Pulang Lupa Dos, Las Pinas City</p>
		</div>
	</div>
	<br/>

	<div class="row">
		<h4>Services Offered</h4>
		<div class="col-md-12">
			<span class="label label-success">Default Label</span>
			<span class="label label-success">Default Label</span>
			<span class="label label-success">Default Label</span>
			<span class="label label-success">Default Label</span>
			<span class="label label-success">Default Label</span>
		</div>
	</div>
	<div class="row">
		<h4>Equipments</h4>
		<div class="col-md-12">
			<span class="label label-success">Default Label</span>
			<span class="label label-danger">Default Label</span>
		</div>
	</div>	
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">Close</button>
</div>    
