<div class="modal-header">
    <h4 class="modal-title">Search Query</h4>
</div>
<div class="modal-body">
	<div class="form-group">
		<label>Search</label>
		<div class="input-group">
		      <input type="text" class="form-control" aria-label="...">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></button>
		        <ul class="dropdown-menu dropdown-menu-right">
		          <li><a href="#">Medicine</a></li>
		          <li><a href="#">Health Center</a></li>
		          <li><a href="#">Hospital Services</a></li>
		          <li><a href="#">Hospital Equipments</a></li>
		        </ul>
		      </div><!-- /btn-group -->
		    </div><!-- /input-group -->
	</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">Close</button>
</div>    
