<div class="modal-header">
    <h4 class="modal-title">Language</h4>
</div>
<div class="modal-body">
	<div class="form-group">
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Select Language
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
		    <li><a href="#">Tagalog</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Aklanon</a></li>
		    <li><a href="#">West Miraya Bikol (Ligao)</a></li>
		    <li><a href="#">Buhinon Bikol (Buhi)</a></li>
			<li><a href="#">Masbateño</a></li>
			<li><a href="#">Cebuano</a></li>
			<li><a href="#">Manobo (Obo)</a></li>
			<li><a href="#">Waray</a></li>
		  </ul>
		</div>
	</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">Close</button>
</div>    
